In [3]:
import pandas as pd
import numpy as np

In [5]:
boxscore = pd.read_csv('Basketball-BoxScores.csv')
playerboxscore = pd.read_csv('Basketball-PlayerBoxScore.csv')
teamboxscore = pd.read_csv('Basketball-TeamBoxScores.csv')
college = pd.read_csv('college.csv')
standing = pd.read_csv('Standings.csv')

In [6]:
boxscore.head(10)

,gmDate,gmTime,seasTyp,offLNm,offFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
0,2012-10-30,19:00,Regular,Brothers,Tony,WAS,East,Southeast,Away,Loss,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
1,2012-10-30,19:00,Regular,Smith,Michael,WAS,East,Southeast,Away,Loss,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
2,2012-10-30,19:00,Regular,Workman,Haywoode,WAS,East,Southeast,Away,Loss,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
3,2012-10-30,19:00,Regular,Brothers,Tony,CLE,East,Central,Home,Win,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
4,2012-10-30,19:00,Regular,Smith,Michael,CLE,East,Central,Home,Win,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
5,2012-10-30,19:00,Regular,Workman,Haywoode,CLE,East,Central,Home,Win,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
6,2012-10-30,20:00,Regular,McCutchen,Monty,BOS,East,Atlantic,Away,Loss,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
7,2012-10-30,20:00,Regular,Wright,Sean,BOS,East,Atlantic,Away,Loss,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
8,2012-10-30,20:00,Regular,Fitzgerald,Kane,BOS,East,Atlantic,Away,Loss,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
9,2012-10-30,20:00,Regular,McCutchen,Monty,MIA,East,Southeast,Home,Win,...,62.7083,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832

In [7]:
playerboxscore.head(10)

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,playFT%,playORB,playDRB,playTRB,opptAbbr,opptConf,opptDiv,opptLoc,opptRslt,opptDayOff
0,2012-10-30,19:00,Regular,Price,A.J.,WAS,East,Southeast,Away,Loss,...,1.00,1,1,2,CLE,East,Central,Home,Win,0
1,2012-10-30,19:00,Regular,Ariza,Trevor,WAS,East,Southeast,Away,Loss,...,0.50,1,2,3,CLE,East,Central,Home,Win,0
2,2012-10-30,19:00,Regular,Okafor,Emeka,WAS,East,Southeast,Away,Loss,...,0.50,5,2,7,CLE,East,Central,Home,Win,0
3,2012-10-30,19:00,Regular,Beal,Bradley,WAS,East,Southeast,Away,Loss,...,1.00,0,3,3,CLE,East,Central,Home,Win,0
4,2012-10-30,19:00,Regular,Booker,Trevor,WAS,East,Southeast,Away,Loss,...,0.00,1,0,1,CLE,East,Central,Home,Win,0
5,2012-10-30,19:00,Regular,Crawford,Jordan,WAS,East,Southeast,Away,Loss,...,0.75,1,2,3,CLE,East,Central,Home,Win,0
6,2012-10-30,19:00,Regular,Webster,Martell,WAS,East,Southeast,Away,Loss,...,0.00,0,3,3,CLE,East,Central,Home,Win,0
7,2012-10-30,19:00,Regular,Vesely,Jan,WAS,East,Southeast,Away,Loss,...,0.25,3,1,4,CLE,East,Central,Home,Win,0
8,2012-10-30,19:00,Regular,Singleton,Chris,WAS,East,Southeast,Away,Loss,...,0.00,2,2,4,CLE,East,Central,Home,Win,0
9,2012-10-30,19:00,Regular,Barron,Earl,WAS,East,Southeast,Away,Loss,...,0.00,4,4,8,CLE,East,Central,Home,Win,0

In [8]:
teamboxscore.head(10)

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
0,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,WAS,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
1,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,CLE,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
2,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,BOS,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
3,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,MIA,...,62.7083,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832
4,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,DAL,...,58.6458,99.3678,108.1034,-8.7356,0.5000,18.6567,1.7143,42.8571,91.5790,91.5790
5,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,LAL,...,60.2083,108.1034,99.3678,8.7356,0.4545,17.3338,1.8333,75.0000,91.5790,91.5790
6,2012-10-31,19:00,Regular,Salvatore,Bennett,Brown,Tony,Lewis,Eric,DEN,...,58.4375,89.0099,79.4731,9.5368,0.3448,14.0362,1.1250,81.2500,94.3715,94.3715
7,2012-10-31,19:00,Regular,Salvatore,Bennett,Brown,Tony,Lewis,Eric,PHI,...,41.1458,79.4731,89.0099,-9.5368,0.3511,14.1961,0.8636,40.9091,94.3715,94.3715
8,2012-10-31,19:00,Regular,Spooner,Bill,Guthrie,David,Lindsay,Mark,IND,...,55.7292,96.1075,98.2918,-2.1843,0.3837,14.1332,1.8000,120.0000,91.5641,91.5641
9,2012-10-31,19:00,Regular,Spooner,Bill,Guthrie,David,Lindsay,Mark,TOR,...,58.5417,98.2918,96.1075,2.1843,0.4205,17.4548,1.1579,15.7895,91.5641,91.5641

In [9]:
college.head(10)

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1997,2008,"December 11, 1976",University of California,6-9,Shareef Abdur-Rahim,F,/players/a/abdursh01.html,225.0,...,0.3,NaN,14.2,0.518,7.4,0.683,8.9,6.1,28.0,21.1
6,6,1977,1981,"May 6, 1954",Indiana University,6-7,Tom Abernethy,F,/players/a/abernto01.html,220.0,...,NaN,NaN,4.5,0.533,2.4,0.689,1.7,1.1,110.0,5.9
7,7,1957,1957,"July 27, 1932",Western Kentucky University,6-3,Forest Able,G,/players/a/ablefo01.html,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,1947,1948,"February 9, 1919",Salem International University,6-3,John Abramovic,F,/players/a/abramjo01.html,195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2017,2018,"August 1, 1993",NaN,6-6,Alex Abrines,G-F,/players/a/abrinal01.html,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
standing.head(10)

,stDate,teamAbbr,rank,rankOrd,gameWon,gameLost,stk,stkType,stkTot,gameBack,...,rel%Indx,mov,srs,pw%,pyth%13.91,wpyth13.91,lpyth13.91,pyth%16.5,wpyth16.5,lpyth16.5
0,2012-10-30,ATL,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
1,2012-10-30,BKN,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
2,2012-10-30,BOS,14,14th,0,1,L1,loss,1,1.0,...,0.0,-13.0,-13.0,0.0720,0.1687,13.8334,68.1666,0.1310,10.7420,71.2580
3,2012-10-30,CHA,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
4,2012-10-30,CHI,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
5,2012-10-30,CLE,1,1st,1,0,W1,win,1,0.0,...,0.0,10.0,10.0,0.8293,0.8270,67.8140,14.1860,0.8648,70.9136,11.0864
6,2012-10-30,DAL,1,1st,1,0,W1,win,1,0.0,...,0.0,8.0,8.0,0.7634,0.7635,62.6070,19.3930,0.8006,65.6492,16.3508
7,2012-10-30,DEN,2,2nd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
8,2012-10-30,DET,3,3rd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000
9,2012-10-30,GS,2,2nd,0,0,-,-,0,0.5,...,0.0,0.0,0.0,0.5000,0.0000,0.0000,82.0000,0.0000,0.0000,82.0000